#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  bookstack-app.service
BindsTo=bookstack.service
After=bookstack.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/database.env
EnvironmentFile=-%S/state/app.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/bookstack-app.pid %t/bookstack-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/bookstack-app.pid \
    --cidfile %t/bookstack-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/bookstack.pod-id --replace -d --name  bookstack-app \
    --volume bookstack-app:/config:Z \
    --env-file=app.env \
    --env-file=app-db.env \ 
    ${BOOKSTACK_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/bookstack-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP bookstack-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/bookstack-app.ctr-id
PIDFile=%t/bookstack-app.pid
Type=forking

[Install]
WantedBy=default.target
